<a href="https://colab.research.google.com/github/sayyed-uoft/fullstackai/blob/main/12_Working_with_NoSQL_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strata.ai - Artificial Intelligence Certificate 

# Module 1: Data Science for AI

# Working with NoSQL - MongoDB 

Source: https://towardsdatascience.com/using-mongodb-with-python-bcb26bf25d5d

# Install MongoDB

Let's use MongoDB Atlas free tier so you don’t need to install MongoDB on your computer so that we will only focus on MongoDB and Python. You can register [here](https://www.mongodb.com/cloud/atlas/register). Create a cluster there and set up your account.

## Instal PyMongo

We need to install "pymongo" and "dnspython". We need "dnspython" to connect mongo+srv protocol. To install both, you can use this command below:

In [1]:
!pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
     |████████████████████████████████| 241 kB 5.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

# Connecting to your cluster

In [57]:
import pymongo

user = '4geeks'
password = 'AIML2022'

client = pymongo.MongoClient(f"mongodb+srv://{user}:{password}@cluster0.uc2mu.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
client

MongoClient(host=['cluster0-shard-00-01.uc2mu.mongodb.net:27017', 'cluster0-shard-00-00.uc2mu.mongodb.net:27017', 'cluster0-shard-00-02.uc2mu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-jzj2bl-shard-0', tls=True)

# Creating a Database

In [58]:
db = client.test

if "test" in client.list_database_names():
    print("You successfully created test database.")
else:
    print("test database was not created.")

You successfully created test database.

In [59]:
db

Database(MongoClient(host=['cluster0-shard-00-01.uc2mu.mongodb.net:27017', 'cluster0-shard-00-00.uc2mu.mongodb.net:27017', 'cluster0-shard-00-02.uc2mu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-jzj2bl-shard-0', tls=True), 'test')

In [60]:
client.list_database_names()

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'test',
 'admin',
 'local']

## Creating a Collection

In [61]:
collection = db.col
collection

Collection(Database(MongoClient(host=['cluster0-shard-00-01.uc2mu.mongodb.net:27017', 'cluster0-shard-00-00.uc2mu.mongodb.net:27017', 'cluster0-shard-00-02.uc2mu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-jzj2bl-shard-0', tls=True), 'test'), 'col')

In [62]:
db.list_collection_names()

['test']

Note: the databaseand the collection will not be created until we insert a document

In [63]:
user = {'name': 'Halil', 'lang': 'Python'}
insert_user = collection.insert_one(user)
print(insert_user.inserted_id)  
print(client.list_database_names())  
print(db.list_collection_names())

61e1e60b2c989de6c593a376
['sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'test', 'admin', 'local']
['col', 'test']

Note: Every record hsd a "_id" field.

# Inserting a document

In [66]:
from datetime import datetime

blog_collection = db.blog
post = {'user': 'halilylm', 'title': 'First post', 'content': 'I love Python',
        'post_date': datetime.now()}
insert_post = blog_collection.insert_one(post)
insert_post.inserted_id

ObjectId('61e1e72a2c989de6c593a377')

Note: "_id" will be automatically determined unless you do it yourself.

In [67]:
post = {'_id': 1, 'user': 'halilylm', 'title': 'First post', 'content': 'I love Python',
        'post_date': datetime.now()}
insert_post = blog_collection.insert_one(post)
insert_post.inserted_id

1

# Inserting multiple documents

In [68]:
posts = [
    {'user': 'halilylm', 'title': 'Second', 'content': 'I love MongoDB'},
    {'user': 'halilylm', 'title': 'Third', 'content': 'Flexible', 'category': 'Programming'},
    {'user': 'halilylm', 'title': 'End', 'content': 'Fast', 'post_date': datetime.now()}
]
insert_post = blog_collection.insert_many(posts)
insert_post.inserted_ids

[ObjectId('61e1e83b2c989de6c593a378'),
 ObjectId('61e1e83b2c989de6c593a379'),
 ObjectId('61e1e83b2c989de6c593a37a')]

# Updating One Document

Fisrt let's query a record:

In [69]:
query = {'content': 'I love MongoDB'}
blog_collection.find_one(query)

{'_id': ObjectId('61e1e83b2c989de6c593a378'),
 'content': 'I love MongoDB',
 'title': 'Second',
 'user': 'halilylm'}

Now let's use teh same query to update a record:

In [70]:
new_document = {'$set': {'content': 'I love MongoDB and Python', 'title': 'Updated Post'}}
update_post = blog_collection.update_one(query, new_document, upsert=False)
update_post.matched_count

1

# Updating Multiple Documents

In [71]:
query = {'user': 'halilylm'}
new_user = {'$set': {'user': 'halil'}}
update = blog_collection.update_many(query, new_user)
update.matched_count

5

# Getting One Document

In [76]:
document = blog_collection.find_one({'title': 'First post'})
document

{'_id': ObjectId('61e1e72a2c989de6c593a377'),
 'content': 'I love Python',
 'post_date': datetime.datetime(2022, 1, 14, 21, 12, 10, 156000),
 'title': 'First post',
 'user': 'halil'}

In [78]:
document = blog_collection.find_one({'user': 'halil'})
document

{'_id': ObjectId('61e1e72a2c989de6c593a377'),
 'content': 'I love Python',
 'post_date': datetime.datetime(2022, 1, 14, 21, 12, 10, 156000),
 'title': 'First post',
 'user': 'halil'}

## Getting a document by its id

In [82]:
from bson.objectid import ObjectId

inserted_id = ObjectId("61e1e72a2c989de6c593a377")
document = blog_collection.find_one({'_id': inserted_id}, {'title': 0, 'content': 0})
document

{'_id': ObjectId('61e1e72a2c989de6c593a377'),
 'post_date': datetime.datetime(2022, 1, 14, 21, 12, 10, 156000),
 'user': 'halil'}

Note: "{'title': 0, 'content': 0}" as the second parameter exludes "title" and "content" fields from the result

# Getting Multiple Documents

In [83]:
cur = blog_collection.find({'user': 'halil'})
cur

In [84]:
list(cur)

[{'_id': ObjectId('61e1e72a2c989de6c593a377'),
  'content': 'I love Python',
  'post_date': datetime.datetime(2022, 1, 14, 21, 12, 10, 156000),
  'title': 'First post',
  'user': 'halil'},
 {'_id': 1,
  'content': 'I love Python',
  'post_date': datetime.datetime(2022, 1, 14, 21, 15, 44, 827000),
  'title': 'First post',
  'user': 'halil'},
 {'_id': ObjectId('61e1e83b2c989de6c593a378'),
  'content': 'I love MongoDB and Python',
  'title': 'Updated Post',
  'user': 'halil'},
 {'_id': ObjectId('61e1e83b2c989de6c593a379'),
  'category': 'Programming',
  'content': 'Flexible',
  'title': 'Third',
  'user': 'halil'},
 {'_id': ObjectId('61e1e83b2c989de6c593a37a'),
  'content': 'Fast',
  'post_date': datetime.datetime(2022, 1, 14, 21, 16, 43, 428000),
  'title': 'End',
  'user': 'halil'}]

In [86]:
for post in blog_collection.find({'user': 'halil'}):
    print(post)

{'_id': ObjectId('61e1e72a2c989de6c593a377'), 'user': 'halil', 'title': 'First post', 'content': 'I love Python', 'post_date': datetime.datetime(2022, 1, 14, 21, 12, 10, 156000)}
{'_id': 1, 'user': 'halil', 'title': 'First post', 'content': 'I love Python', 'post_date': datetime.datetime(2022, 1, 14, 21, 15, 44, 827000)}
{'_id': ObjectId('61e1e83b2c989de6c593a378'), 'user': 'halil', 'title': 'Updated Post', 'content': 'I love MongoDB and Python'}
{'_id': ObjectId('61e1e83b2c989de6c593a379'), 'user': 'halil', 'title': 'Third', 'content': 'Flexible', 'category': 'Programming'}
{'_id': ObjectId('61e1e83b2c989de6c593a37a'), 'user': 'halil', 'title': 'End', 'content': 'Fast', 'post_date': datetime.datetime(2022, 1, 14, 21, 16, 43, 428000)}

In [91]:
for post in blog_collection.find({'user': 'halil'}):
    print(post['user'], post['title'])

halil First post
halil First post
halil Updated Post
halil Third
halil End

# More Complex Queries

In [93]:
list(blog_collection.find({'content': {'$regex': '^I love'}}, {'_id': 0, 'post_date': 0, 'user': 0}))

[{'content': 'I love Python', 'title': 'First post'},
 {'content': 'I love Python', 'title': 'First post'},
 {'content': 'I love MongoDB and Python', 'title': 'Updated Post'}]

# Counting Docuemnts

In [94]:
blog_collection.count_documents({'user': 'halil'})

5

# Converting to DataFrame

In [96]:
import pandas as pd

pd.DataFrame(blog_collection.find())

                        _id   user  ...               post_date     category
0  61e1e72a2c989de6c593a377  halil  ... 2022-01-14 21:12:10.156          NaN
1                         1  halil  ... 2022-01-14 21:15:44.827          NaN
2  61e1e83b2c989de6c593a378  halil  ...                     NaT          NaN
3  61e1e83b2c989de6c593a379  halil  ...                     NaT  Programming
4  61e1e83b2c989de6c593a37a  halil  ... 2022-01-14 21:16:43.428          NaN

[5 rows x 6 columns]

# Converting a DataFrame to MongoDB

In [98]:
data = {
    'Person': ['Jack', 'Sara', 'Paula', 'Alex'],
    'Is Employed': [True, False, True, True],
    'Salary': [65_000, 0, 78_000, None],
    'Bonus': [10_000, 0, 18_000, 15_000]
}
df = pd.DataFrame(data)
df

  Person  Is Employed   Salary  Bonus
0   Jack         True  65000.0  10000
1   Sara        False      0.0      0
2  Paula         True  78000.0  18000
3   Alex         True      NaN  15000

In [101]:
data_dict = df.to_dict('records')
data_dict

[{'Bonus': 10000, 'Is Employed': True, 'Person': 'Jack', 'Salary': 65000.0},
 {'Bonus': 0, 'Is Employed': False, 'Person': 'Sara', 'Salary': 0.0},
 {'Bonus': 18000, 'Is Employed': True, 'Person': 'Paula', 'Salary': 78000.0},
 {'Bonus': 15000, 'Is Employed': True, 'Person': 'Alex', 'Salary': nan}]

In [102]:
blog_collection.insert_many(data_dict)

In [103]:
pd.DataFrame(blog_collection.find())

                        _id   user         title  ... Is Employed   Salary    Bonus
0  61e1e72a2c989de6c593a377  halil    First post  ...         NaN      NaN      NaN
1                         1  halil    First post  ...         NaN      NaN      NaN
2  61e1e83b2c989de6c593a378  halil  Updated Post  ...         NaN      NaN      NaN
3  61e1e83b2c989de6c593a379  halil         Third  ...         NaN      NaN      NaN
4  61e1e83b2c989de6c593a37a  halil           End  ...         NaN      NaN      NaN
5  61e1f8512c989de6c593a37b    NaN           NaN  ...        True  65000.0  10000.0
6  61e1f8512c989de6c593a37c    NaN           NaN  ...       False      0.0      0.0
7  61e1f8512c989de6c593a37d    NaN           NaN  ...        True  78000.0  18000.0
8  61e1f8512c989de6c593a37e    NaN           NaN  ...        True      NaN  15000.0

[9 rows x 10 columns]