<a href="https://colab.research.google.com/github/sayyed-uoft/fullstackai/blob/main/Numpy_Exercises_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import NumPy package

Get the version of Numpy

Create a 2x3 matrix (call it m1) with random numbers (normal distribution)

Multiply all the elements of m1 by 10 and put it in m1 again

Check the data type of m1

Convert the data type to intereger

Create a new matrix (m2) that each element is the power of 3 of m1 elements

Reduce m1 from m2 and put back to m2

Create a boolean matrix (b) that shows what elements in m1 are bigger than zero

Print the shape and data type of b

Reduce the elements in the second column of m2 by 10

Add 20 to all elements of m2 :

Multiply all the elements of m2 by 2.3

Check the data type of m2 now

Create a 1D array of 10 elements starting from 1 to 17 with the step of 2 (call it m3)

Print the shape of m3

Reshape m3 to a 2x2x2 matrix

convert the following text to lowercase, split it to words, and then create a numpy array of words (m4):

"The brown fox jumped over the lazy dog"

Print the data type of m4

Create a boolean array showing where the word 'the' exists in m4

Use np.sum to get the number of 'the' in the sentence